#trip{font-style:Georgia;
        font-weight:bold;
       text-align:center;
      font-size:50px;
}
@keyframes lima{
        from{filter: blur(4px);
        }
        to{filter:blur(1px);
        }
        
}
img.lima {
        animation:lima ;
        animation-duration:2s; 
}
           
span{font-weight:bold;
        color:red;
}
div{font-style:Helvetica
}
.uno{color:darkblue
}
.dos{color:blue
}
.tres{color:LightBlue
}
.one{width:200px;
}
.div{font-size:30px;
}
.one:hover{width:300px;
          filter:grayscale(100%);
         
}
.two{width:200px
}
.two:hover{width:300px;
          filter:grayscale(100%);

}
.three{width:200px;
}
.three:hover{width:300px;
          filter:grayscale (100%);
          
}
.four{width:200px;
        transition:transform 2s, width:2s;
}
.four:hover{width:300px;
          filter:grayscale(100%);
         
}
.five{width:200px;
         transition:transform 2s, width:2s;
}
.five:hover{width:300px;
          filter:grayscale(100%);
         
}
.six{width:200px;
        transition:transform 2s, width:2s;
}
.six:hover{width:300px;
          filter:grayscale(100%);
          
}
.seven{width:200px;
        transition:transform 2s, width:2s;
}
.seven:hover{width:300px;
          filter:grayscale(100%);
         
}
.eight{width:200px;
        transition:transform 2s, width:2s;
}
.eight:hover{width:300px;
          filter:grayscale(100%);
          
}
